# 02807: Project 1
 
## Practical information
 
* This project must be completed in groups of 3 students.
    * The group must be registered on the course site on DTU Learn: My Course > Groups
* This project must be handed in as a jupyter notebook to the course site on DTU Learn. 
    * Go to the Course Content > Assignments tab to upload your submission. 
* This project is due on Monday, November 1, 20:00.

## Submission rules

* Each group has to hand in *one* notebook (`.ipynb`) with their solutions, including a filled out Contribution table (see below).
* Your solution must be written in Python.
* For each question you should use the cells provided ("`# your code goes here`") for your solution
    * It is allowed to add code cells within a question block, but consider if it's really necessary.
* You should not remove the problem statements, and you should not modify the structure of the notebook.
* Your notebook should be runnable and readable from top to bottom.
    * Meaning that your code cells work when run in order (from top to bottom).
    * Output of any cell depends only on itself and cells above it.
* Your notebook should be submitted after having been run from top to bottom.
    * This means outputs are interpretable without necessarily running your cells.
    * The simplest way to achieve this is using the jupyter menu item Kernel > Restart & Run All just prior to submission. If any cell fails when you do this, your notebook is not ready for submission.
* Failure to comply may make it impossible for us to evaluate your submission properly, which will likely negatively impact the points awarded.
    
 
## Colaboration policy
 
* It is not allowed to collaborate on the exercises with students outside your group, except for discussing the text of the exercise with teachers and fellow students enrolled on the course in the same semester. 
* It is not allowed to exchange, hand-over or in any other way communicate solutions or parts of solutions to the exercises. 
* It is not allowed to use solutions from similar courses, or solutions found elsewhere.

## Contribution table and grading

* The total amount of points in the project is 110.
* You have to indicate who has solved each part of each exercise in a **contribution table**. 
* The following is an example of a contributions table:

|        | Exercise 1 | Exercise 2 | Exercise 3 | Exercise 4 |
|--------|------------|------------|------------|------------|
| **Part 1** | John       |    Mary        |     Ann       |   Mary, Ann         |
| **Part 2** |     Mary       |    Mary        |   Ann         |    John, Ann        |
| **Part 3** |     John, Mary, Ann       |      John, Ann      |   John         | **n.a.**      |
| **Part 4** | **n.a.**       |  Ann          |     John, Mary       | **n.a.**       |
| **Part 5** | **n.a.**     | John, Mary, Ann           | John       | **n.a.**       |

* A group member can take credit for solving a part of an exercise only if they have contributed **substantially** to the solution. 
    * Simple contributions, such as correcting a small bug or double-checking the results of functions, are not sufficient for taking credit for a solution.
    * Several group members can take credit for the same solution if they all have contributed substantially to it.
* Each group member must contribute **at least 50 points**. 
    * If no name is provided for an exercise's part, **all group members** are considered contributors to it.
* Group members should decide amongst themselves how to collaborate on the project to meet the above-mentioned constraints.  
* Scores are individual. The score $\text{score}(m)$ for a group member $m$ ranges from 0 to 10 and is calculated as follows: 

  * $\text{individual-score}(m) = \frac{\text{total number of points for the parts correctly solved by }m}{\text{total number of points for the parts contributed by }m}$

  * $\text{group-score} = \frac{\text{total number of points correctly solved by any group member}}{\text{total number of points in the project}}$

  * $\text{score}(m) =  7.5 \cdot \text{individual-score}(m) + 2.5 \cdot \text{group-score}$

* **Example**: in the contribution table above, suppose that all parts are solved correctly except for those of Exercise 4, which are both wrong. Then Ann's score is calculated as follows:

  * $\text{individual-score}(Ann) = \frac{2.5+12.5+12.5+2.5+15+5}{2.5+12.5+12.5+2.5+15+5 + 10 + 10} = \frac{50}{70} = 0.714$

  * $\text{group-score} = \frac{90}{110} = 0.818$

  * $\text{score}(Ann) = 7.5\cdot 0.714 + 2.5 \cdot 0.818 = 7.4$

# Group declaration table 

This table must be filled before submission.

In [1]:
import pandas as pd

d = {'Exercise 1' : ["", "", "", "", ""], 
     'Exercise 2' : ["", "", "", "", ""],
     'Exercise 3' : ["", "", "", "", ""], 
     'Exercise 4' : ["", "", "", "", ""],
     } 
  
ct = pd.DataFrame(d, index =['Part 1','Part 2','Part 3','Part 4','Part 5']) 

ct

       Exercise 1 Exercise 2 Exercise 3 Exercise 4
Part 1
Part 2
Part 3
Part 4
Part 5

# Introduction to the Datasets

![link text](https://ph-files.imgix.net/069dd825-cddf-4048-adde-8e81396c2c68?auto=format)


You will be working with datasets obtained through the [The Movie Database (TMDb) API](https://developers.themoviedb.org/3/getting-started/introduction). The first dataset is part of the MovieLens Latest Full Dataset, comprising 26 million ratings on 45.000 movies from 27.000 users. Let's look at the features in this dataset.

**Features**

* **adult**: Indicates if the movie is X-Rated.
* **belongs_to_collection**: A stringified dictionary with info on the movie series a particular film belongs to (e.g.: Lord of the Rings).
* **budget**: The movie budget in dollars.
* **genres**: A stringified list of dictionaries describing all genres associated with the movie.
* **homepage**: The movie's official homepage.
* **id**: An identifier for the movie.
* **imdb_id**: IMDB's identifier for the movie.
* **original_language**: The language in which the movie was shot.
* **original_title**: The original title of the movie.
* **overview**: A brief text about the movie.
* **popularity**: A Popularity Score given by TMDb.
* **poster_path**: The URL of the poster image.
* **production_companies**: A stringified list of production companies involved with making of the movie.
* **production_countries**: A stringified list of countries in which the movie was produced.
* **release_date**: Release date of the movie in theaters.
* **revenue**: The total revenue of the movie in dollars.
* **runtime**: The runtime of the movie in minutes.
* **spoken_languages**: A stringified list of languages spoken in the film.
* **status**: The status of the movie (Released, To Be Released, etc.)
* **tagline**: The movie's tagline.
* **title**: The official title of the movie.
* **video**: Indicates whether there is a video of the movie in TMDb.
* **vote_average**: The average rating of the movie, on a 0-10 scale.
* **vote_count**: The number of votes by users, as counted by TMDb.

# Imports

First, let's make sure to import Pandas and NumPy.

In [2]:
import pandas as pd 
import numpy as np
import ast

# Exercise 1: Loading, preprocessing and cleaning the data (15 points)

Read the movie dataset from the following URL.

In [3]:
url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies_metadata.csv'

## Part 1: Reading and preprocessing the data (10 pts)

Pandas infers a data type for raw data from a `.csv`, defaulting to string type when no other `dtype` could be established. For example, the `genres` column in our dataset is read as a string with a *stringified* list of dictionaries as cell content. 

Some preprocessing steps are therefore needed, to convert the columns into their proper data types.

Write a function `load_movies_data()` that reads the URL into a Pandas DataFrame and preprocesses its columns to ensure that:

1. Data in the `release_date` column consists of Pandas `Timestamp` objects, except for missing values. For example, executing a code cell with `df.release_date[0]` should display the output `Timestamp('1995-10-30 00:00:00')`.

2. Data in `belongs_to_collection` consists of dictionaries, except for missing values.

3. Data in `genres`, `production_companies` and `production_countries` consists of lists of dictionaries, except for missing values. 

For example, executing a code cell with `df.genres[0]` should display the output 
```
[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]
```
which is a list type, not a string. The elements of the list are dictionaries (executing `df.genres[0][0]['name']` returns `'Animation'`). 

**Hint**: for items 2 and 3, you should use `ast.literal_eval`.

These conversions can be performed using Pandas' built-in functions and/or calling Pandas' `apply()` with appropriate arguments. Avoid explicit looping. You'll be asked below to time the loading and preprocessing step.

In [4]:
# your code goes here
def load_movies_data(url):
  data=pd.read_csv(url)
  data.loc[:,'release_date']=pd.to_datetime(data.release_date,errors="coerce",format="%Y-%m-%d")
  data.loc[data.belongs_to_collection.notnull(),'belongs_to_collection']=data.belongs_to_collection[data.belongs_to_collection.notnull()].apply(ast.literal_eval)
  data.loc[data.genres.notnull(),'genres']=data.genres[data.genres.notnull()].apply(ast.literal_eval)
  data.loc[data.production_companies.notnull(),'production_companies']=data.production_companies[data.production_companies.notnull()].apply(ast.literal_eval)
  data.loc[data.production_countries.notnull(),'production_countries']=data.production_countries[data.production_countries.notnull()].apply(ast.literal_eval)
  
  return data

Now call `load_movies_data()` and load the data into a DataFrame `df`.

In [5]:
df=load_movies_data(url)

C:\Users\jakob\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

Display the DataFrame. You should check that it looks correct.

In [6]:
# your code goes here
print(df.shape)
df.head(5)

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## Part 2: Timing your function (2.5 pts)

Time the performance of your function. To get the points for this part, the time reported below must not exceed 40 seconds.

In [7]:
load_time = %timeit -o -r 3 load_movies_data(url)
print("Time (s):", load_time.best)

C:\Users\jakob\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

5.47 s ± 200 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Time (s): 5.1992940999999995

## Part 3: Cleaning the data (2.5 pts)

Filter/drop all rows in `df` meeting any of these conditions:
* The `adult` value is not `'False'`
* The `vote_count` value is missing
* The `vote_average` value is missing

Do not loop over rows to perform these checks. Use Pandas' built-in functionality to do so.

In [8]:
# your code goes here
drop_rows = ( (df.adult != 'False') | (df.vote_count.isnull()) | (df.vote_average.isnull()) )
df.drop(df[drop_rows].index, inplace = True)
df.shape

(45451, 24)

# Exercise 2: Computing IMDb's ratings (35 points)

The Top Rated 250 titles in IMDb are calculated using [a formula](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV#calculatetop) that takes into account the number of votes that a title has received, the minimum votes required to be on the list, and the mean vote for all titles. The rating for a title is given as follows:

$$ \text{weighted rating } = \left(\frac{v}{v+m} \cdot R\right) + \left(\frac{m}{v+m} \cdot C\right)$$

Where:

$m$ = the minimum number of votes required to be listed in the Top Rated ranking. We'll let $m=1000$.

$v$ = the number of votes received by the title (the title's **`vote_count`** value)

$R$ = the average rating for the title (the title's **`vote_average`** value)

$C$ = the mean vote across the whole list (the mean over the **`vote_average`** column)

We are going to compute the ratings for movies that could be listed in IMDb's Top Rated 250 ranking.  We want to do this as efficiently as possible. As a baseline for benchmarking, we'll use an approach that explicitly loops and indexes over the rows of the dataset and computes the weighted rating for the corresponding movie (if the movie has more than 1000 votes).

In [10]:
C = df['vote_average'].mean()
m = 1000

def weighted_rating(row):
    if row['vote_count'] > m:
        v = row['vote_count']
        R = row['vote_average']
        return (v/(v+m) * R) + (m/(v+m) * C)
    else:
        return np.nan

def weighted_rating_loop(df):
    rating_list = []
    for i in range(len(df)):
        rating = weighted_rating(df.iloc[i])
        rating_list.append(rating)
    df['imdb_rating'] = rating_list

In [11]:
weighted_rating_loop(df)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating
0    862                    Toy Story     7.375533
1   8844                      Jumanji     6.524536
2  15602             Grumpier Old Men          NaN
3  31357            Waiting to Exhale          NaN
4  11862  Father of the Bride Part II          NaN

Let's look at the average performance of this function:

In [12]:
basic_time = %timeit -r 3 -o weighted_rating_loop(df)
print("Best time:", basic_time.best)

5.85 s ± 163 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 5.625590199999998

In the remaining parts of the exercise, you are going to be asked to come up with alternative ways to compute the ratings, using various methodologies. Let's create a score board to keep track of performance. Here's a description of the rows:

*   **Best single run time (s)**:  The best time used by your solution, in seconds.
*   **Marginal performance improvement**: The time improvement of your current solution over its immediately preceding solution. Given by: $\frac{\text{best single run time (s) of previous solution}}{\text{best single run time (s) of current solution}}$
*   **Performance improvement over basic looping**:  The time improvement over our baseline solution. Given by: $\frac{\text{best single run time (s) of weighted_rating_loop}}{\text{best single run time (s) of current solution}}$
*   **Best single run time (s, teacher)**: The time of a solution provided by the teacher. 
*   **Marginal performance improvement (teacher)**: The time improvement of the teacher's solution over its immediately preceding solution. 
*   **Performance improvement over basic looping (teacher)**:  The teacher's solution improvement over the baseline solution.

In [13]:
timing_data = {
    'Best single run time (s)': [basic_time.best, np.nan, np.nan, np.nan,np.nan],
    'Marginal performance improvement': [np.nan,np.nan, np.nan, np.nan,np.nan],
    'Performance improvement over basic looping': np.nan,
    'Best single run time (s, teacher)': [9.37, 3.87, 0.562, 0.0054, 0.00084],
    'Marginal performance improvement (teacher)': [np.nan, 'x2.42', 'x6.88', 'x103.8', 'x6.45'],
    'Performance improvement over basic looping (teacher)': [np.nan, 'x2.42', 'x16.69', 'x1732.17','x11172.98']
}

indices = ['Basic looping', 'Iterrows looping', 'apply()', 'Pandas vectorisation', 'NumPy vectorisation']
timings = pd.DataFrame(timing_data, index=indices)
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,5.62559,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,NaN,NaN,NaN,3.87000,x2.42,x2.42
apply(),NaN,NaN,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

**The grading for the following parts works as follows.**

Let $m$ be the marginal performance improvement for the teacher's solution over basic looping, and let $m'$ be the marginal performance improvement for your solution over `basic_time`. If a part gives $n$ points, then you will get the $n$ points if $m' \geq 0.4 m$, and 0 points otherwise.

You don't get extra points for performing faster than the teacher's solution. But this is of course possible and you should feel free to optimise away as much as you want!

## Part 1: Looping with `iterrows` (2.5 pts)

Define a function `weighted_rating_iterrows(df)` that computes the ratings by looping over rows with the built-in iterator `iterrows`, and stores the results in a new column of the DataFrame called called `imdb_rating_iter`.

In [14]:
# your code goes here
def weighted_rating_iterrows(df):
  rating_list=[]
  row = df.iterrows()
  for i,r in row:
    rating_list.append(weighted_rating(r))
  df['imdb_rating_iter']=rating_list

  return(df)

Call the function and make sure that it works as intended.

In [15]:
weighted_rating_iterrows(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_iter, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating  imdb_rating_iter
0    862                    Toy Story     7.375533          7.375533
1   8844                      Jumanji     6.524536          6.524536
2  15602             Grumpier Old Men          NaN               NaN
3  31357            Waiting to Exhale          NaN               NaN
4  11862  Father of the Bride Part II          NaN               NaN

Time the performance of the function.

In [16]:
iterrows_time = %timeit -r 3 -o weighted_rating_iterrows(df)
print("Best time:", iterrows_time.best)

1.9 s ± 118 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 1.798979200000005

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [17]:
# your code goes here
timings.loc['Iterrows looping','Best single run time (s)']=iterrows_time.best
timings.loc['Iterrows looping','Marginal performance improvement']=timings.loc['Basic looping','Best single run time (s)']/iterrows_time.best
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,5.625590,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,1.798979,3.127101,NaN,3.87000,x2.42,x2.42
apply(),NaN,NaN,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

## Part 2: Using `apply()`. (5 pts)

Define a function `weighted_rating_apply(df)` that computes the ratings using Pandas' `apply()` function, and stores the results in a new column of the DataFrame called `imdb_rating_apply`.

In [18]:
# your code goes here
def weighted_rating_apply(df):
  df['imdb_rating_apply']=np.zeros((len(df['adult']),1),dtype="float")
  df.imdb_rating_apply=df.apply(weighted_rating,axis=1)


  return(df)

Call the function and make sure that it works as intended.

In [19]:
weighted_rating_apply(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_apply, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply
0,862,Toy Story,7.375533,7.375533,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN

Time the performance of the function.

In [20]:
apply_time = %timeit -r 3 -o weighted_rating_apply(df)
print("Best time:", apply_time.best)

499 ms ± 10.3 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 0.4882295999999968

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [21]:
# your code goes here
timings.loc['apply()','Best single run time (s)']=apply_time.best
timings.loc['apply()','Marginal performance improvement']=timings.loc['Iterrows looping','Best single run time (s)']/apply_time.best
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,5.625590,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,1.798979,3.127101,NaN,3.87000,x2.42,x2.42
apply(),0.488230,3.684699,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

## Part 3: Vectorised solution with Pandas (12.5 pts)

Let's find a vectorised solution using Pandas. You have to define a function `weighted_rating_pandas(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_pandas`. Use Pandas operations only: don't transform your data into NumPy arrays.

In [22]:
# your code goes here
def weighted_rating_pandas(df):
  v=df['vote_count']
  R=df['vote_average']
  df['imdb_rating_pandas']=(v/(v+m)*R)+ (m/(v+m) * C)
  df.loc[df['vote_count']<=m,'imdb_rating_pandas'] = np.nan
  return df

Call the function and make sure it works as intended.

In [23]:
weighted_rating_pandas(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_pandas, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply,imdb_rating_pandas
0,862,Toy Story,7.375533,7.375533,7.375533,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN,NaN

Time the performance of the function.

In [24]:
pandas_time = %timeit -r 3 -o weighted_rating_pandas(df)
print("Best time:", pandas_time.best)

1.39 ms ± 6.9 µs per loop (mean ± std. dev. of 3 runs, 1000 loops each)
Best time: 0.0013796931999999914

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [25]:
# your code goes here
timings.loc['Pandas vectorisation','Best single run time (s)']=pandas_time.best
timings.loc['Pandas vectorisation','Marginal performance improvement']=timings.loc['apply()','Best single run time (s)']/pandas_time.best
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,5.625590,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,1.798979,3.127101,NaN,3.87000,x2.42,x2.42
apply(),0.488230,3.684699,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,0.001380,353.868237,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
 
* Display profiler output and give an analysis of what you see.

In [26]:
# your code goes here

*Your explanation goes here*\\
The imdb score can be calculated by performing elementwise multiplication and addition with the vote_count column and the vote_average column from the dataset. Elementwise addition/multiplication between two arrays are defined ufuncs in numpy. We also add and multiply constants numbers m and C to each element in the arrays. As constants can be seen as arrays with 1 element then this type of operation utilises broadcasting which is a property of the ufuncs. The reason why this improves the speed significantly compared to applying row-wise operations is because ufuncs utilises that array elements are stored in sequences and we know the element-type beforehand for each operation. The Ufuncs are numpy operations but Pandas uses them as they are a more general form of numpy arrays.

## Part 4: Vectorised solution with NumPy (12.5 pts)

Let's find a vectorised solution that uses NumPy to speed up the calculations. You have to define a function `weighted_rating_numpy(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_numpy`.

In [27]:
# your code goes here
def weighted_rating_numpy(df):
  v=df['vote_count'].values
  R=df['vote_average'].values
  temp=(v/(v+m)*R)+ (m/(v+m) * C)
  temp[v<=m] = np.nan
  df['imdb_rating_numpy']=temp
  return df

Call the function and make sure it works as intended.

In [28]:
weighted_rating_numpy(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_numpy, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
                  list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply,imdb_rating_pandas,imdb_rating_numpy
0,862,Toy Story,7.375533,7.375533,7.375533,7.375533,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536,6.524536,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN,NaN,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN,NaN,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN,NaN,NaN

Time the best performance of the function.

In [29]:
numpy_time = %timeit -r 3 -o weighted_rating_numpy(df)
print("Best time:", numpy_time.best)

411 µs ± 35.1 µs per loop (mean ± std. dev. of 3 runs, 1000 loops each)
Best time: 0.0003613428000000027

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [30]:
# your code goes here
timings.loc['NumPy vectorisation','Best single run time (s)']=numpy_time.best
timings.loc['NumPy vectorisation','Marginal performance improvement']=timings.loc['Pandas vectorisation','Best single run time (s)']/numpy_time.best
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,5.625590,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,1.798979,3.127101,NaN,3.87000,x2.42,x2.42
apply(),0.488230,3.684699,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,0.001380,353.868237,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,0.000361,3.818239,NaN,0.00084,x6.45,x11172.98

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
    * If applicable, you may refer back to the explanation you gave for `weighted_rating_pandas`.
 
* Display profiler output and give an analysis of what you see.
    * Contrast your findings with those from `weighted_rating_pandas`.

In [31]:
# your code goes here

*Your explanation goes here*
Same explanation as before but now we are using operations between numpy arrays instead of pandas arrays which have additional overhead due to type checking.

## Part 5: Find out the top 25 titles (2.5 pts)

What are the top 25 titles? Now that we have the IMDb ratings conveniently stored in a column, display the top 25 titles, together with their IMDb rating:

In [32]:
# your code goes here
df[['original_title','imdb_rating']].sort_values('imdb_rating',ascending=False).head(25)

                                          original_title  imdb_rating
314                             The Shawshank Redemption     8.192086
12481                                    The Dark Knight     8.097916
834                                        The Godfather     8.089770
2843                                          Fight Club     8.048880
292                                         Pulp Fiction     8.022704
15480                                          Inception     7.935393
351                                         Forrest Gump     7.917781
22879                                       Interstellar     7.896385
1154                             The Empire Strikes Back     7.831115
7000       The Lord of the Rings: The Return of the King     7.831037
522                                     Schindler's List     7.806722
23673                                           Whiplash     7.801217
18465                                       Intouchables     7.797277
256                                            Star Wars     7.780965
5481                                            千と千尋の神隠し     7.760254
4863   The Lord of the Rings: The Fellowship of the Ring     7.759254
46                                                 Se7en     7.741149
5814               The Lord of the Rings: The Two Towers     7.724400
2211                                     La vita è bella     7.722473
289                                                 Léon     7.712289
3030                                      The Green Mile     7.700299
1178                              The Godfather: Part II     7.693061
23753                            Guardians of the Galaxy     7.692858
2458                                          The Matrix     7.673643
1225                                  Back to the Future     7.671024

# Exercise 3: Predicting the genre of movies (40 points)

In this exercise, you'll be asked to create a number of features and use them to predict whether a movie is a science fiction movie or not. 
For this classification task, we'll work with a different part of the movies dataset, which contains more information for each movie.

In [33]:
train_url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/train.csv'

You'll try to predict whether a movie is a science fiction movie based on the other associated genres for the movie, the people and companies involved in making it, as well as its release date.

## Part 1: Adding binary features for genres (15 pts)

As in Exercise 1, the data on several columns is in a stringified format. Pre-process the following columns appropriately, as you did with the `genres` column in Part 1 of Exercise 1.
```
'belongs_to_collection', 'genres', 'production_companies','production_countries', 'spoken_languages', 'Keywords', 'cast', 'crew'
```
 
Don't loop explicitly over the rows to perform this preprocessing. Your dataframe should be named `train`.

In [34]:
# your code goes here
def load_movies_data2(url):
  data=pd.read_csv(url)
  data.loc[:,'release_date']=pd.to_datetime(data.release_date,errors="coerce",format="%m/%d/%y")
  data.loc[data.belongs_to_collection.notnull(),'belongs_to_collection']=data.belongs_to_collection[data.belongs_to_collection.notnull()].apply(ast.literal_eval)
  data.loc[data.genres.notnull(),'genres']=data.genres[data.genres.notnull()].apply(ast.literal_eval)
  data.loc[data.production_companies.notnull(),'production_companies']=data.production_companies[data.production_companies.notnull()].apply(ast.literal_eval)
  data.loc[data.production_countries.notnull(),'production_countries']=data.production_countries[data.production_countries.notnull()].apply(ast.literal_eval)
  data.loc[data.cast.notnull(),'cast']=data.cast[data.cast.notnull()].apply(ast.literal_eval)
  data.loc[data.Keywords.notnull(),'Keywords']=data.Keywords[data.Keywords.notnull()].apply(ast.literal_eval)
  
  return data

train=load_movies_data2(train_url)

Looking at the 'genres' column, you can see that movies have a varying number of associated genres.

In [35]:
# this will work only if you've already preprocessed the genres' column into lists of dicts
for i, v in enumerate(train.genres.head()):
    print(i, v)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

Count the number of movies that have $n$ associated genres, for each $n$ in the dataset. If a movie has no associated genres, assign it the number 0. 

You have to use Pandas built-in functions only (no explicit looping). For example, you could use `apply()` with an appropriate function to apply to each row. 

Once you have the counts, visualise them as a bar chart, with one bar per possible number of associated genres, and the height of the bar representing the number of movies with that number of genres.

In [36]:
# your code goes here

def customlen(row):
    #print(row)
    #print(row['genres'])
   # print(len(row['genres']))
    if (isinstance(row['genres'],list)):
        return len(row['genres'])
    else:
        return 0

#len(train.genres[1])
train['n']=train.apply(customlen,axis=1)

In [37]:
#type(type(train["genres"][0]))
train.n

0       1
1       4
2       1
3       2
4       2
       ..
2995    2
2996    2
2997    4
2998    2
2999    3
Name: n, Length: 3000, dtype: int64

Let's create our binary features next. Complete the following steps:
 
1.   Transform the `genres` column by replacing its current entries with the list of names of genres occurring in the entries.  For example, the entry 
```
[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
```
should be transformed into:
```
['Romance','Comedy']
```
Empty entries should be transformed into the empty list `[]`.

2. Create a separate column (in `train`) for each of the 20 genres, with name `genres_(nameofgenre)` (e.g. `genres_Comedy`). A movie should have a 1 on a genres column if the genre is one of the associated genres for that movie, and a 0 otherwise.
    * To get started, consider what operations create a data frame with dimensions as `train` and columns as specified here, based on the list output from step 1. Then combine this data frame with `train`.

You have to use Pandas built-in functions only (no explicit looping).

In [38]:
#counts movies (this is the part where you count movies)
def customlen(row):
    #print(row)
    #print(row['genres'])
   # print(len(row['genres']))
    if (isinstance(row['genres'],list)):
        return len(row['genres'])
    else:
        return 0

#len(train.genres[1])
train['n']=train.apply(customlen,axis=1)

# your code goes here
#need to remove this
def make_genre_lists(row):
    if(row["n"]==0):
        return []
    else:
        return list(pd.DataFrame(row.genres)["name"])
    
def make_genre_lists2(row):
    if(row["n"]==0):
        return pd.DataFrame({'dummy':[1]})
    else:
        return pd.DataFrame(pd.get_dummies(pd.DataFrame(row.genres)["name"],prefix="genres").sum()).transpose()
  

temp=train.apply(make_genre_lists2,axis=1)
temp=pd.concat(list(temp))
temp=temp.fillna(0)
temp.index=train.index
train2=pd.concat([train,temp],axis=1)
train2=train2.drop("dummy",axis=1)
train2

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,genres_Music,genres_Crime,genres_Mystery,genres_Science Fiction,genres_Foreign,genres_Fantasy,genres_War,genres_Western,genres_History,genres_TV Movie
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Visualise the number of movies per top 20 genre with a chart of your choice.

In [39]:
# your code goes here
#need to fix labels
import matplotlib.pyplot as plt
import seaborn as sns

temp=train2.iloc[:,24:].sum()
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
langs = list(temp.index)

ax.bar(langs,temp)
plt.show()

In [40]:
temp

genres_Comedy             1028.0
genres_Drama              1531.0
genres_Family              260.0
genres_Romance             571.0
genres_Thriller            789.0
genres_Action              741.0
genres_Adventure           439.0
genres_Animation           141.0
genres_Horror              301.0
genres_Documentary          87.0
genres_Music               100.0
genres_Crime               469.0
genres_Mystery             225.0
genres_Science Fiction     290.0
genres_Foreign              31.0
genres_Fantasy             232.0
genres_War                 100.0
genres_Western              43.0
genres_History             132.0
genres_TV Movie              1.0
dtype: float64

## Part 2: Adding more binary features (5 pts)

You've now extracted binary features for all genres associated with a movie. But there's other information that we could use to base our predictions on. 

The `genres` column is just one out of several columns containing lists of dictionaries as entries. For example, the `production_companies` column also contains lists of dictionaries, providing names of the companies producing the movie. As you just did with genres, add new columns for:
 
1.   The names of the 30 most common production companies
2.   The names of the 30 most common production countries
3.   The names of the 30 most common actors (`cast` column) 
4.   The names of the 30 most common crew members
5.   The names of the 30 most common keywords
 
We recommend you generalize the functionality implemented in the previous question (e.g. to other columns and to restrict to top 30 most common values).

In [41]:
# your code goes here
train.head()
#train.crew
train.Keywords

0       [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1       [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2       [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3       [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                     NaN
                              ...
2995    [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996    [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997    [{'id': 441, 'name': 'assassination'}, {'id': ...
2998    [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999    [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...
Name: Keywords, Length: 3000, dtype: object

In [42]:
def list_fun(row):
  if not isinstance(row,list):
    return []
  else:
    #print(row)
    return [dic['name'] for dic in row]

def addNonehot(df,feature,N):
  df[feature] = df[feature].apply(list_fun)
  exp = df[feature].explode()
  idx = exp.value_counts()[0:N].index
  onehot = pd.get_dummies(exp[exp.isin(idx)],prefix=feature)
  onehot = onehot.groupby(onehot.index).sum()
  onehot = onehot.reindex(list(range(len(df[feature]))),fill_value=0)
  return pd.concat([df,onehot],axis=1)

train = addNonehot(train,'genres',20)
print("done with genres")
train = addNonehot(train,'production_companies',30)
print("done with comps")
train = addNonehot(train,'production_countries',30)
print("done with countries")
train = addNonehot(train,'cast',30)
print("done with cast")
train = addNonehot(train,'crew',30)
print("done with train")
train = addNonehot(train,'Keywords',30)
print("done with keywords")

done with genres
done with comps
done with countries
done with cast
done with train
done with keywords

Check the result. You should now have a much wider table, with the new columns consisting of binary features.

In [46]:
print(train.shape)
train.head(5)

(3000, 164)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,Keywords_police,Keywords_prison,Keywords_revenge,Keywords_sequel,Keywords_sex,Keywords_sport,Keywords_suspense,Keywords_teenager,Keywords_violence,Keywords_woman director
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,[Comedy],NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,0,0,0,1,0,0,0,0,0,0
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[Comedy, Drama, Family, Romance]",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,0,0,0,0,0,0,0,0,0,0
2,3,NaN,3300000,[Drama],http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,0,0,0,0,0,0,0,0,1,0
3,4,NaN,1200000,"[Thriller, Drama]",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,0,0,0,0,0,0,0,0,0,0
4,5,NaN,0,"[Action, Thriller]",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,0,0,0,0,0,0,0,0,0,0

 ## Part 3: Adding numerical date features (5 points)

Next, we'll create some features based on the release date information. Create a new column storing the value for each of the following  aspects of a release date:
 
```
['year', 'weekday', 'month', 'weekofyear', 'day', 'quarter']
```
 
As usual, don't iterate explicitly to create these columns.

In [47]:
# your code goes here

def get_weekday(row):
    return row.weekday()
def get_dayofyear(row):
    return row.dayofyear
def get_month(row):
    return row.month
def get_weekyear(row):
    return row.weekofyear
def get_quarter(row):
    return row.quarter
def get_year(row):
    return row.year

train["weekday"]=train.release_date.apply(get_weekday)
train["year"]=train.release_date.apply(get_year)
train["day"]=train.release_date.apply(get_dayofyear)
train["quarter"]=train.release_date.apply(get_quarter)
train["month"]=train.release_date.apply(get_month)
train["weekofyear"]=train.release_date.apply(get_weekyear)

datetime.date(2015, 2, 20)

Next, we'll drop the columns that will not be used for learning.

In [ ]:
train = train.drop(['id', 'homepage', 'original_language',
                    'title', 'imdb_id','crew', 'poster_path', 
                    'release_date', 'status', 'belongs_to_collection',
                    'Keywords', 'original_title', 'overview',
                    'production_companies', 'production_countries', 
                    'spoken_languages', 'tagline', 'cast','genres'], 
                   axis=1)

Lastly, drop any rows with missing values.

In [ ]:
# your code goes here
train.dropna(inplace=True)

## Part 4: Prediction (10 pts)

Let's load the necessary `sklearn` libraries and prepare the training data for learning. Recall that your goal is to predict whether a movie has science fiction as an associated genre. So you're dealing with a binary classification task.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train["genres_Science Fiction"]

Use `sklearn` to prepare the training and test sets, setting aside 15% of the data for testing. Call the training input features, training labels, test input features and test labels as follows:

```
x_train, x_test, y_train, y_test
```

In [ ]:
# your code goes here
y=train["genres_Science Fiction"].copy()
train.drop(columns=["genres_Science Fiction"],inplace=True)
x=train.copy()

In [ ]:
X=x.to_numpy()
Y=y.to_numpy()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.15,stratify=Y)

Feature scaling is a common requirement for many machine learning estimators: they might behave badly if the individual features do not more or less look like standard normally distributed data (e.g. Gaussian with 0 mean and unit variance). Run the following code to feature scale your input data.

In [ ]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(x_train)  
x_train = scaler.transform(x_train) 
x_test = scaler.transform(x_test)

Check that the shape of your data looks correct.

In [ ]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

Train a classifier of your choice. Then report results:
* Display the confusion matrix over the test set in absolute numbers.
    * These numbers reflect number of true positives, true negatives, false positives and false negatives.
* Display a normalized confusion matrix over the test set, so [sensitivity and specificity](https://en.wikipedia.org/wiki/Evaluation_of_binary_classifiers) can be read from the diagonal (off-diagonal will contain type I and type II error rates).
    * Note that sensitivity is recall for the positive class (1), whereas specificity is recall for the negative class (0).
* State **in free-text** the sensitivity and specificity of your classifier.

In [ ]:
# your code goes here
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
parameters={'min_samples_split':np.arange(2,500,10),'criterion':['gini','entropy'],'class_weight':["balanced",None]}
t=DecisionTreeClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=DecisionTreeClassifier(criterion=mygrid.best_estimator_.criterion,min_samples_split=mygrid.best_estimator_.min_samples_split,class_weight=mygrid.best_estimator_.class_weight)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()

In [ ]:
from sklearn.tree import plot_tree
fig, axes = plt.subplots(nrows=1,ncols=1,figsize=(10,10),dpi=300)
plot_tree(t_best,feature_names=train.keys(),filled=True,class_names=["Nope","Sci-fi"])
plt.show()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
parameters={'criterion':['gini','entropy'],'max_features':[0.01,0.1,0.2,0.3,0.4,0.5,0.75,1],'class_weight':["balanced",None],'n_estimators':[1,5,10,50,100,500,1000]}
t=RandomForestClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=RandomForestClassifier(max_features=mygrid.best_estimator_.max_features,n_estimators=mygrid.best_estimator_.n_estimators,criterion=mygrid.best_estimator_.criterion,class_weight=mygrid.best_estimator_.class_weight)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
parameters={'n_neighbors':[1,5,10,50,100,200,300,400,500,1000],"weights":["uniform","distance"],'metric':["minkowski","mahalanobis"]}
t=KNeighborsClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=KNeighborsClassifier(n_neighbors=mygrid.best_estimator_.n_neighbors,weights=mygrid.best_estimator_.weights,metric=mygrid.best_estimator_.metric)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()

*Your explanation here*
An issue with this data is that it is imbalanced (a lot of non-sci-fi movies).

## Part 5: Prediction with less leakage (5 points)

From Wikipedia, [data leakage](https://en.wikipedia.org/wiki/Leakage_(machine_learning)) is the use of information in the model training process which would not be expected to be available at prediction time, causing the predictive scores (metrics) to overestimate the model's utility when run in a production environment.

Feature or column-wise leakage is caused by the inclusion of columns which are one of the following: a duplicate label, a proxy for the label, or the label itself

Considering we're doing binary classification of whether a movie is science fiction, identify the most prominent cause of feature leakage among the features added during Exercise 3. 

1) **Argue** for your choice, 2) train a classifier not subject to this feature leakage (it's OK to create a new train/test split) and 3) **report the results** as you did in Part 4.

*Your explanation here*
Think number of genres adds to data leakage since we are counting the number of genres which includes sci-fi.
Think

In [ ]:
# your code goes here
train2=train.copy()
train2.drop(columns=["n"],inplace=True)
x=train2.copy()
X=x.to_numpy()
Y=y.to_numpy()
scaler = StandardScaler()  
scaler.fit(x_train)  
x_train = scaler.transform(x_train) 
x_test = scaler.transform(x_test)
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.15,stratify=Y)

In [ ]:

#Tree
parameters={'min_samples_split':np.arange(2,500,10),'criterion':['gini','entropy'],'class_weight':["balanced",None]}
t=DecisionTreeClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=DecisionTreeClassifier(criterion=mygrid.best_estimator_.criterion,min_samples_split=mygrid.best_estimator_.min_samples_split,class_weight=mygrid.best_estimator_.class_weight)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()
fig, axes = plt.subplots(nrows=1,ncols=1,figsize=(10,10),dpi=300)
plot_tree(t_best,feature_names=train2.keys(),filled=True,class_names=["Nope","Sci-fi"])
plt.show()

In [ ]:
#forest
parameters={'criterion':['gini','entropy'],'max_features':[0.01,0.1,0.2,0.3,0.4,0.5,0.75,1],'class_weight':["balanced",None],'n_estimators':[1,2,3,4,5,6,7,8,9,10]}
t=RandomForestClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=RandomForestClassifier(max_features=mygrid.best_estimator_.max_features,n_estimators=mygrid.best_estimator_.n_estimators,criterion=mygrid.best_estimator_.criterion,class_weight=mygrid.best_estimator_.class_weight)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()

In [ ]:
#neighbors
parameters={'n_neighbors':[1,5,10,50,100,200,300,400,500,1000],"weights":["uniform","distance"],'metric':["minkowski","mahalanobis"]}
t=KNeighborsClassifier()
mygrid=GridSearchCV(t,parameters,scoring='balanced_accuracy')
mygrid.fit(x_train,y_train)
print(mygrid.best_estimator_)
t_best=KNeighborsClassifier(n_neighbors=mygrid.best_estimator_.n_neighbors,weights=mygrid.best_estimator_.weights,metric=mygrid.best_estimator_.metric)
t_best.fit(x_train,y_train)
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test)),display_labels=t_best.classes_)
disp.plot()
plt.show()
disp=ConfusionMatrixDisplay(confusion_matrix(y_test,t_best.predict(x_test),normalize='true'),display_labels=t_best.classes_)
disp.plot()
plt.show()

# Exercise 4: Basic movie recommendation system (20 points)

In this exercise, you'll build a simple movie recommendation system.  The system will take a movie as input and recommend a list of similar movies. In order to recommend similar movies, you will use the correlation between the ratings of movies as a similarity metric. We'll use Pearson's correlation. 
 
The data for this exercise is available in the following URLs. It contains basic info about movies, as well as ratings provided by several users.

In [49]:
url1 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/ratings.csv'
url2 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies.csv'

## Part 1: Preparing the ratings data (10 pts)

Read the data from these two URLs, and create a single dataframe from them, with the following columns:

| userId | movieId | rating | timestamp | title | genres |
|--------|---------|--------|-----------|-------|--------|
|        |         |        |           |       |        |

Call the dataframe `movie_data`.

In [50]:
# your code goes here
dat1=pd.read_csv(url1)
dat2=pd.read_csv(url2)
movie_data=dat2.merge(dat1,on="movieId")
movie_data.head(5)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

To find the correlation between the ratings of movies, create a dataframe where each column is a movie name and each row contains the rating assigned by a specific user to that movie. 

You'll notice that this dataframe has many NaN values, since each movie is not rated by every user. Call the dataframe `user_ratings`.

In [51]:
# your code goes here
user_ratings=movie_data.pivot_table("rating",["userId"],"title")
user_ratings.head(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Part 2: Finding the most similar movies (10 pts)

Each column contains all the user ratings for a particular movie. Let's take the user ratings for the movie Toy Story.

In [52]:
toystory_ratings = user_ratings['Toy Story (1995)']
toystory_ratings

userId
1      4.0
2      NaN
3      NaN
4      NaN
5      4.0
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: Toy Story (1995), Length: 610, dtype: float64

Next, find the correlation between the user ratings for Toy Story and the user ratings of all other movies. 
 
More specifically, create a dataframe that contains two columns, called `title` and `Correlation`. Each row should contain a movie title $x$, followed by the pairwise correlation between the column of ratings for Toy Story and the column of ratings for $x$.  Drop any rows with null values, and display the resulting dataframe.
 
Use built-in functions to compute correlations and avoid explicit loops.

In [53]:
# your code goes here
temp=user_ratings.corrwith(toystory_ratings).dropna()
temp.head(5)

C:\Users\jakob\AppData\Roaming\Python\Python37\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\jakob\AppData\Roaming\Python\Python37\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'burbs, The (1989)                0.240563
(500) Days of Summer (2009)       0.353833
*batteries not included (1987)   -0.427425
10 Cent Pistol (2015)             1.000000
10 Cloverfield Lane (2016)       -0.285732
dtype: float64

Sort the movies by descending order of correlation to find out highly correlated movies at the top. Display the 5 most highly correlated movies.

In [54]:
# your code goes here
temp.drop("Toy Story (1995)",inplace=True)
temp.sort_values(ascending=False).iloc[0:5,]

title
Land Before Time III: The Time of the Great Giving (1995)                              1.0
For the Birds (2000)                                                                   1.0
Final Destination, The (Final Destination 4) (Final Destination in 3-D, The) (2009)    1.0
Coffee Town (2013)                                                                     1.0
Police Story 2 (Ging chaat goo si juk jaap) (1988)                                     1.0
dtype: float64

If you computed correlations correctly, you will find that the recommended movies are not very well known. We can generate more popular recommendations by finding highly correlated movies that have a sensible number of ratings. 
 
Add a column to your correlation table, called `rating_counts`, which stores the number of ratings received by each movie.

In [55]:
# your code goes here
temp["rating_counts"]=user_ratings.drop("Toy Story (1995)",axis=1).count()

Now find the 5 movies with the highest correlation with Toy Story, which have strictly more than 100 ratings. Display the result below.

In [56]:
# your code goes here
temp.iloc[0:-1][temp["rating_counts"]>100].sort_values(ascending=False)

title
Incredibles, The (2004)                                      0.643301
Finding Nemo (2003)                                          0.618701
Aladdin (1992)                                               0.611892
Monsters, Inc. (2001)                                        0.490231
Mrs. Doubtfire (1993)                                        0.446261
                                                               ...
Rock, The (1996)                                            -0.038208
Good Will Hunting (1997)                                    -0.044629
Interview with the Vampire: The Vampire Chronicles (1994)   -0.061637
Bourne Identity, The (2002)                                 -0.070729
Stargate (1994)                                             -0.124225
Length: 133, dtype: object